@charset "utf-8";
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, ul, ol, li, form, fieldset, legend, button, input, textarea, th, td, img, div, p, header, section, footer{ margin: 0; padding: 0; }
/** 设置默认字体 **/
body, button, input, select, textarea{font-size:16px;font-family: Verdana, Microsoft YaHei, Simsun;}
/** 重置列表元素 **/
ul, ol { list-style: none;}
/** 重置超链接元素 **/
a { text-decoration: none;}
a:hover { text-decoration: underline;}
/** 重置图片元素 **/
img{ border:0;}
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0;}